{{- range $name, $svc := .Values.services }}
{{- $sa := ($svc.serviceAccount | default dict) }}
{{- if ($sa.create | default true) }}

apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "monorepo.fullname" $ }}-{{ $name }}
  labels:
    app.kubernetes.io/name: {{ include "monorepo.name" $ }}
    app.kubernetes.io/instance: {{ $.Release.Name }}
    app.kubernetes.io/component: {{ $name }}
  {{- with $sa.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
automountServiceAccountToken: {{ $sa.automount | default true }}
---
{{- end }}
{{- end }}
