# deploy/helm/monorepo/values.yaml

global:
  image:
    pullPolicy: IfNotPresent

  service:
    type: ClusterIP
  
  autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 10
    targetCPUUtilizationPercentage: 70
    targetMemoryUtilizationPercentage: 70

  resources:
    requests:
      cpu: 200m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi

services:
  auth:
    replicaCount: 2
    image:
      repository: auth
      tag: "dev"

    serviceAccount:
      create: true
      automount: true

    service:
      type: NodePort
      ports:
        http:
          port: 80
          targetPort: 8080
        grpc:
          port: 9090
          targetPort: 9090
      nodePorts:
        http: 30080

    calls:
      - name: user
        protocol: http

    env:
      AUTH_PUBLIC_PORT: "8080"
      AUTH_CORS_PUBLIC_ALLOWED_ORIGINS: "*"
      AUTH_CORS_PUBLIC_ALLOW_CREDENTIALS: "true"
      AUTH_CORS_INTERNAL_ALLOWED_ORIGINS: ""
      AUTH_CORS_INTERNAL_ALLOW_CREDENTIALS: "false"

      AUTH_REDIS_HOST: "host.docker.internal:6379"
      AUTH_REDIS_DB: "0"

      AUTH_JWT_EXPIRE: "60" # minutes
      AUTH_REFRESH_NUM_BYTES: "32"
      AUTH_REFRESH_END_POINT: "/refresh"
      AUTH_REFRESH_MAX_AGE: "2592000" # 30 days

    secretEnv:
      AUTH_REDIS_PASSWORD: "" # Use --set or ExternalSecret to inject
      AUTH_JWT_SECRET: "" # Use --set or ExternalSecret to inject

  user:
    replicaCount: 2
    image:
      repository: user
      tag: "dev"

    serviceAccount:
      create: true
      automount: true

    service:
      type: ClusterIP
      ports:
        http:
          port: 80
          targetPort: 8080
        grpc:
          port: 9090
          targetPort: 9090

    env:
      USER_INTERNAL_PORT: "8080"
      USER_CORS_PUBLIC_ALLOWED_ORIGINS: "*"
      USER_CORS_PUBLIC_ALLOW_CREDENTIALS: "true"
      USER_CORS_INTERNAL_ALLOWED_ORIGINS: ""
      USER_CORS_INTERNAL_ALLOW_CREDENTIALS: "false"

      USER_MYSQL_HOST: "host.docker.internal:3306"
      USER_MYSQL_USER: "gotester"
      USER_MYSQL_DB_NAME: "gotest"
      USER_MYSQL_MAX_OPEN_CONNS: "10"
      USER_MYSQL_MAX_IDLE_CONNS: "5"
      USER_MYSQL_CONN_MAX_LIFETIME: "1800" # seconds

    secretEnv:
      USER_MYSQL_PASSWORD: ""  # Use --set or ExternalSecret to inject
